h1 {
  color: #C75000;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #B7C8B5
}

img {
  border: dashed 3px antiquewhite;
}
img:hover {
  border: solid 3px black;
}
h1:hover {
  background-color: skyblue;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
.active {
  background-color: #04AA6D;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


<body>

<nav>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="page2.html">Page2</a></li>
  <li><a href="designs.html">Digital Portfolio</a></li>
</nav>
